.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    background: transparent;
    margin-top: 150px ;
}
.modal__dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0C1417;
}
.modal__top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_img {
    width: 173px;
    height: 64px;
    margin: 50px 500px 80px 50px ;

}
.modal__close {
    font-size: 40px;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 50px;
}.modal__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal__first {
    display: flex;
    margin-bottom: 30px;
}
.modal__first img {
    width: 34.68px;
    height: 22.32px;
}
.modal__first p {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 30px;
}
.modal__second {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;

}
.modal__third {
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
}
.third__one {
    display: flex;
}
.third__one img {
    width: 24px;
    height: 24px;
}
.third__one p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 285px;
    margin-left: 16px;
}
.third__second {
    display: flex;

}
.third__second img  {
    width: 24px;
    height: 24px;
    margin-left: 25px;
    margin-right: 16px;
}
.third__second {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.modal__four {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;

}
.modal__fifth {
    margin-right: 15px;
    margin-top: 17px;
    text-decoration: none;
}
.modal__fifth img {
    height: 22px;
    width: 22px;
    margin-right: 15px;
    margin-bottom: 100px;
}
.hide {
    display: none;
}
.show {
    display: block;
}